@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

:root {
  --main-font-color: #000;
  --second-font-color: #fff;
  --main-font-weight: 400;
  --main-font-size: 18px;
  --main-line-height: 21px;
  --brown-button-color: #756257;
  --blue-color: #83B3D3;
  --green-color: #7DB54F;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


html {
  height: 100%;
}

body {
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  font-family: 'PT Sans', sans-serif;
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
  color: var(--main-font-color);
  font-weight: var(--main-font-weight);
  background-color: #F2F2F2;
}

img {
  max-width: 100%;
  object-fit: contain;
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  z-index: 1;
  position: relative;
}

.page-wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  background-color: var(--second-font-color);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.navigation {
  display: flex;
  justify-content: space-between;
  padding: 0 72px;
}


.navigation-wrapper {
  display: flex;
  justify-content: space-between;
}

.navigation-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 0 0 30px;
  list-style: none;
}

.site-list {
  flex-grow: 1;
}

.additional-menu {
  margin: 0;
}

.additional-menu:last-child {
  margin-left: auto;
}

.subscribe-primary {
  color: #ffffff;
  background-color: var(--blue-color);
  background-image: url('../img/background/newsletter-background.jpg');
  background-size: cover;
}

.navigation-link {
  display: block;
  padding: 17px;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  text-decoration: none;
  color: var(--main-font-color);
}

.navigation-link--current {
  position: relative;
}

.navigation-link--current:after {
  content: "";
  display: inline-block;
  position: absolute;
  right: 15px;
  bottom: 0;
  left: 15px;
  height: 2px;
  background-color: var(--brown-button-color);
}

.navigation-item {
  display: flex;
  align-items: center;
}

.section-title {
  padding-right: 170px;
  padding-left: 170px;
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}


.search {
  padding-left: 70px;
  padding-right: 70px;
}

.main-index {
  position: relative;
  top: -5px;
}

.advantages-description {
  counter-increment: count 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
  text-align: center;
  font-size: 18px;
  line-height: 36px;
  color: #333333;
}

.advantages-description::before {
  content: "— №"counter(count)"—";
}

.advantages-item {
  background-color: rgba(131, 179, 211, 0.12);
}


.advantages-item--big {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--blue-color);
}

.advantages-item--big .advantages-description {
  font-size: 18px;
  line-height: 36px;
  color: var(--second-font-color);
}

.advantages-list-inner .advantages-description {

  color: #333333;
}

.advantages-subtitle {
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.advantages-subtitle--picture {
  padding-left: 100px;
  padding-right: 100px;
  color: var(--second-font-color);
}

/*.advantages-subtitle--picture:first-child {*/

/*}*/

.section-description {
  font-size: 22px;
  line-height: 26px;
}



.footer-phone {
  font-size: 40px;
  line-height: 40px;
  color: var(--main-font-color);
  text-decoration: none;
}

.additional-item:nth-child(2) {
  margin-right: 18px;
}

.additional-icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  text-decoration: none;
}



.additional-icon--favorite {
  position: relative;
}


.additional-icon--favorite::after {
  content: "12";
  position: absolute;
  top: 0px;
  left: 23px;
  width: 20px;
  height: 20px;
  background-color: var(--green-color);
  border-radius: 50%;
  font-size: 13px;
  color: #fff;
  text-align: center;
}



.additional-icon.button {
  padding: 9px 15px;
  min-width: 160px;
  text-align: center;
  border-radius: 4px;
}


.main-promo {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 485px;
  margin-bottom: 63px;
  background:  url('../img/background/promo-background.jpg');

}





.advantages-list {

  padding: 0;
  margin: 0;
  list-style: none;
  counter-reset: count 0;
}






.advantages-list-inner {
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffff;
  list-style: none;
}


.advantages-list-inner .advantages-item:nth-child(2) {
  background-color: var(--second-font-color);
}

/* catalog */

.main-heading-wrap {
  padding-right: 70px;
  padding-left: 70px;
  background-image: url('../img/background/catalog-background.jpg');
  background-size: cover;
  background-color: var(--blue-color);
}

.inner-header-title {
  margin: 0;
  font-size: 60px;
  font-weight: 700;
  line-height: normal;
  color: var(--second-font-color);
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: normal;
  color: var(--second-font-color);
  text-decoration: none;
}


.filter-group {
  margin: 0;
  padding: 0;
  border: none;
}

.filter-title {
  font-size: 20px;
  font-weight: 700;
  color: var(--second-font-color);
}

.filter-name {
  color: var(--second-font-color);
}

.range-input {
  color: var(--second-font-color);
}

.range-title {
  color: var(--second-font-color);
  opacity: 0.3;
}

.button {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--second-font-color);
  background-color: var(--blue-color);
}

.button-secondary {
  text-decoration: none;
  background-color: var(--brown-button-color);
}

.button-big {
  font-size: 20px;
}

.hotels-search-result {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.select-control {
  font-size: 18px;
  color: #333333;
  background-color: transparent;
}

.hotel-card-link {
  grid-column: 1/-1;
  text-decoration: none;
  display: block;

}

.hotel-name {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  color: var(--main-font-color);

}

.hotel-card-type {
  color: #333333;
}

.hotel-card-price {
  color: #333333;

}

.price {
  font-weight: 400;
}

.hotel-card-more {
  padding: 10px 10px;
  text-decoration: none;
  text-align: center;
  border-radius: 4px;
}

.hotel-card-favorite {
  border-radius: 4px;
  border: none;
}

.hotel-card-raiting {
  font-size: 16px;
  color: #333333;
}

.button-selected {
  background-color: var(--green-color);
}


.show-more {
  font-size: 20px;
  color: var(--second-font-color);
}

.pagination-wrapper {
  display: flex;
  justify-content: space-between;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.pagination-item {
  margin: 0 4px;
}

.pagination-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  color: var(--second-font-color);
  background-color: var(--blue-color);
  font-weight: 700;
  text-decoration: none;
}

.pagination-link.pagination-current {
  color: var(--main-font-color);
}

.reset-form-btn {
  font-weight: 400;
  font-size: 18px;
  background-color: transparent;
}

.breadcrumbs {
  display: flex;
  list-style: none;
  padding: 0;
}

.filter-form {
  display: flex;
  justify-content: space-between;
}

.search-catalog-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.view {
  display: flex;
}

.hotels-catalog {
  padding-left: 70px;
  padding-right: 70px;
}

.subscribe {
  padding-left: 70px;
  padding-right: 70px;
}

.page-footer {
  display: flex;
  justify-content: space-between;
  padding: 30px 72px 30px 72px;

}

.hotel-cards-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  row-gap: 18px;
  column-gap: 10px;
  margin-bottom: 34px;
}

.hotel-card {
  display: grid;
  grid-template-rows: 206px min-content auto min-content auto;
  grid-template-columns: 133px 141px;
  gap: 16px;
  padding: 20px;
  justify-content: center;
}



.hotel-image {
  grid-column: 1/-1;

}

/**/



.social {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.social-link {
  display: flex;
  width: 40px;
  height: 40px;
}



.filter-list {
  padding: 0;
  margin: 0;
  list-style: none;
}


.hotels-filter-list {
  padding: 0;
  margin: 0;
  list-style: none;
}
