
@use 'blocks/main';

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: main.$main-line-height;
}

img {
  max-width: 100%;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.inner-wrap{
  padding-left: 20px;
  padding-right: 20px;
}

.caption {
  font-size: main.$main-font-size;
  font-weight: bold;
  color: main.$black-color;
  text-transform: uppercase;
  text-align: center;
}

.paragraph {
  color: main.$grey-color;
  font-size: main.$secondary-font-size;
  font-weight: 400;
  text-transform: uppercase;
}

.button {
  font-size: 21px;
  color: main.$white-color;
  font-weight: main.$font-bold;
  background-color: main.$blue-color;
}


